<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width" />
        <title>SportsStore</title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
